<h1 class="text-center text-muted my-3">キャリアプランの編集</h1>
<div class="my-4 py-4 bg-light shadow">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <%= render partial:'form', locals: {career: @career} %>
    </div>
  </div>
</div>
