<h1 class="text-center text-muted my-3"><%= @fiscal_year %>年度 自己申告書の入力</h1>
<div class="my-4 py-4 bg-light shadow">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <%= render partial:'form', locals: {post: @post} %>
    </div>
  </div>
</div>
